// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #337AB7;
$yellow: #FFFEE0;

#button {
  background-color: $blue;
  border: none;
  border-radius: 0 5px 5px 0;
  color: white;
  margin: 0;
  padding: 4px;
}

#text {
  border-radius: 5px 0 0 5px;
  box-shadow: 0 0 5px grey;
  border-style: none;
  margin:0;
  padding: 4px;
}

#answer {
  display: flex;
  align-items: center;
  background-color: $yellow;
  height: 100px;
}
a {
  text-decoration: none;
  color: $blue;
  &:visited{
    color: $blue;
  }
}
